@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

 main{
  position: relative;
  min-height: 100%;
  margin-bottom: 250px;
}

footer.footer{
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
